@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?opzddu');
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?opzddu#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?opzddu')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?opzddu')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?opzddu##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-sign-out {
  &:before {
    content: $icon-sign-out;
  }
}
.icon-gerenjianli {
  &:before {
    content: $icon-gerenjianli;
  }
}
.icon-cha {
  &:before {
    content: $icon-cha;
  }
}
.icon-sliderleft {
  &:before {
    content: $icon-sliderleft;
  }
}
.icon-sliderright {
  &:before {
    content: $icon-sliderright;
  }
}
.icon-page {
  &:before {
    content: $icon-page;
  }
}
.icon-font {
  &:before {
    content: $icon-font;
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-fuzhi {
  &:before {
    content: $icon-fuzhi;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-remen {
  &:before {
    content: $icon-remen;
  }
}
.icon-up {
  &:before {
    content: $icon-up;
  }
}
.icon-down {
  &:before {
    content: $icon-down;
  }
}
.icon-title {
  &:before {
    content: $icon-title;
  }
}
.icon-tupian {
  &:before {
    content: $icon-tupian;
  }
}
.icon-chevron-small-down {
  &:before {
    content: $icon-chevron-small-down;
  }
}
.icon-chevron-small-up {
  &:before {
    content: $icon-chevron-small-up;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-circle-with-minus {
  &:before {
    content: $icon-circle-with-minus;
  }
}
.icon-word {
  &:before {
    content: $icon-word;
  }
}
