$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-github: unquote('"\\e901"');
$icon-sign-out: unquote('"\\e900"');
$icon-gerenjianli: unquote('"\\e60f"');
$icon-cha: unquote('"\\e613"');
$icon-sliderleft: unquote('"\\e62d"');
$icon-sliderright: unquote('"\\e62e"');
$icon-page: unquote('"\\e633"');
$icon-font: unquote('"\\e634"');
$icon-pdf: unquote('"\\e638"');
$icon-delete: unquote('"\\e63b"');
$icon-fuzhi: unquote('"\\e63e"');
$icon-edit: unquote('"\\e640"');
$icon-remen: unquote('"\\e648"');
$icon-up: unquote('"\\e672"');
$icon-down: unquote('"\\e679"');
$icon-title: unquote('"\\e6a1"');
$icon-tupian: unquote('"\\e6dd"');
$icon-chevron-small-down: unquote('"\\e904"');
$icon-chevron-small-up: unquote('"\\e905"');
$icon-plus: unquote('"\\e906"');
$icon-circle-with-minus: unquote('"\\e907"');
$icon-word: unquote('"\\edd5"');
